*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 80px;
    background-color: rgb(5,94,228	) ;
}

nav{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    line-height: 80px;
}

.menu{
    display: inline-block;
    margin-left: -2rem;
}

nav li{
    list-style: none;
    display: inline-block;
    line-height: 80px; 
    list-style: none;
}

header ul{
    display: inline-block;
}

header a{
    text-decoration: none;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

li a:hover{
    text-decoration: underline;
}

header img{
    float: left;
    padding: 1.5rem;
}

nav button{
    float: right;
    border: none;
    padding: 0.5rem;
    border-radius: 1rem;
    vertical-align: middle;
    margin-top: 1.5rem;
}

.background{
    background-image: url(../../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 600px;
    position: relative;
}	

.container-sec{
    height: 100vh;
    position: relative;
}

.centered{
    text-align: center;
}

.section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 70%;   
    margin-top: 4rem;
}

.page{
    margin-bottom: 2rem;
}

.title{
    font-size: 3rem;
    line-height: 3rem;
}

.subtitle{
    width: 50%;
    margin: auto;
    font-size: 1.2rem;
}

.text{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.button{
    border: none;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    padding: .5rem 1.5rem;
    margin: .5rem;
    margin-top: 1rem;
}

.arrow::before{
    content: "\2193";
    padding-right: 0.7rem;
}

.black{
    color: white;
    background: black;
}


.first img{
    float: left;
    
}

.column{
    width: 25%;
}

.right{
    display: inline-block;
    position: absolute;
    right: 2vw;
    top:6vh;
}

.wave{
    position: absolute;
    bottom:0;
}

.grey{
    background-color: rgb(246,246,246);
}

.mid img{
    float: right;
    margin-right: 4rem;
}

.left{
    display: inline-block;
    position: absolute;
    left: 1vw;
    top:7vh;
}

.bottom{
    transform: scale(-1, 1);
}

.centered h2{
    display: inline-block;
    width: 40%;
    margin:auto;
    height: 10%;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
}

.blue{
    background-color:rgb(146,160,220) ;
    color: white;
    margin-top: 2rem;
}

.last{
    height: 110vh;
}

.small{
     width: 40vw;
}

.big{
    width: 50vw;
}

footer{
     height: 30vh;
     background-color: rgb(36,39,42);
}

.footer-sec{
    color: rgb(118,136,212) ;
    float: left;
    margin: 3rem;
    margin-right: 0.8vw;
    position: relative;
}

footer h2{
    margin-top: -.5rem;
}

.lenguage{
     margin-top: 1rem;
     color:white;
}

.ita{
     width:25px;
}

.fab{
     padding-right: 1rem;
     padding-top: 1rem;
     color: white;
}

footer ul{
    display: inline-block;
}

footer li{
    list-style: none;
    color: white;
    margin: 0.5rem 0;
}

.base{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top:1px solid rgb(118,136,212);
    margin-bottom: 1rem;
}

.base img{
    padding-top: 3rem;
    float: left;
}

.base .button{
    float: right;
}

button:hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

button.blue:hover{
    background-color: rgb(118,136,212);
}

.white:hover{
    color: rgb(118,136,212);
}

.black:hover{
    background-color: rgb(40, 40, 40);
}

footer a{
    text-decoration: none;
    color: white;

}
footer a:hover{
    color:rgb(118,136,212);
    text-decoration: underline;
}